[submodule "key-encryption"]
	path = key-encryption
	url = https://github.com/dfkburnem/Key-Encryption-GUI.git
[submodule "duel-tool"]
	path = duel-tool
	url = https://github.com/dfkburnem/Duel-Tool-GUI.git
[submodule "Hero-Bridge"]
	path = Hero-Bridge
	url = https://github.com/dfkburnem/Hero-Bridge.git
